body {
    background-color: seashell;
}
header {
    width: fit-content;
    margin: 0 auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 72px;
    padding: 20px;
}
#container {
    background-color: darkslategrey;
    min-width: 315px;
    max-width: 350px;
    min-height: 500px;
    margin: 10px auto;
    border-radius: 25px;
    padding: 40px;
    box-shadow: 2px 2px 6px 2px black;
}
#branding {
    font-size: 24px;
    padding: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    text-shadow: 1px 1px 3px black;
    color: gray;
    border-bottom: solid 1px black;
}
@font-face {
    font-family: calcfont;
    src: url(digital-7/digital-7\ \(mono\ italic\).ttf);
}
#display {
    margin: 10px 0;
    background-color: ghostwhite;
    font-family: calcfont;
    font-size: 48px;
    text-align: right;
    padding: 0 10px;
    box-shadow: 1px 1px 5px 1px darkgray, -1px -1px 5px 1px darkgray;
}
#buttons {
    width: 90%;
    margin: 0 auto;
    padding: 25px 0;
}
button {
    font-size: 40px;
    border-radius: 25px;
    min-width: 64px;
    width: 24%;
    padding: 10px;
    outline: none;
    cursor: pointer;
    box-shadow: 1px 1px 8px 1px black;
    background-color: rgba(240, 240, 240, 0.8);
    text-align-last: center;
}
button:hover {
    transform: scale(1.1);
    border-color: darkgray;
}
button:active {
    transform: translateY(4px);
}
.digit-btn {
    background-color: rgb(165, 201, 171);
}
/*Change how buttons react when pressed to small translate effect*/
#all-clear{
    width: 48%;
}
#all-clear, #backspace {
    background-color: darkslateblue;
}
#equals {
    background-color: rgba(150, 200, 20, 0.8)
}
.buttonrow {
    min-width: 95%;
    margin: 5px 0;
    text-align-last: justify;
}
.operator {
    background-color: tan;
}
